
##
## 富文本编辑器，模板。
##自行添加到你的表单之中
##自行添加js代码，需要
## <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<textarea name="editor1" id="editor1" rows="10" cols="40">
                书写你的内容
</textarea>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1',{
        customConfig:'/ckeditor/config.js'
    });
</script>