##用于展示listMain的列表
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">List</strong> /
            <small>分类</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" onclick="listMainAdd()" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核
                    </button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除
                    </button>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-form-group">
                <select data-am-selected="{btnSize: 'sm'}">
                    <option value="option1">编号</option>
                    <option value="option2">描述</option>
                    <option value="option3">发布日期</option>
                </select>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-check"><input type="checkbox"/></th>
                    <th class="table-id">ID</th>
                    <th class="table-title">描述</th>
                    <th class="table-type">日期</th>
                    <th class="table-bordered">分类</th>
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($item in $listMain.list)

                    <tr id="row_${item.id}">
                        <td><input type="checkbox"/></td>
                        <td name="id">$item.id</td>
                        <td name="desc" class="am-hide-sm-only">$item.desc</td>
                        <td name="date" class="am-hide-sm-only">$date.format($item.date)</td>
                        <td name="list_title" class="am-hide-sm-only">
                            #foreach($listType in $listTypes)
        #if($listType.list_id==$item.listId)
                                $listType.title
                            #end
        #end
                        </td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                            onclick="btn_view($item.id);"><span
                                            class="am-icon-eye"></span> 预览
                                    </button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                            onclick="btn_look($item.id);">
                                        <span    class="am-icon-pencil-square-o" > 编辑</span>
                                    </button>
                                    <Button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                            onclick="btn_delClick($item.id);"/>
                                    <span class="am-icon-trash-o"></span> 删除
                                    </Button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    #end

                </tbody>
            </table>
            <div class="am-cf">

                <span>当前页号:</span> <span>$listMain.pageNum</span>/<span>${listMain.pages}</span>

                <div class="am-fr">

                    <ul data-am-widget="pagination"
                        class="am-pagination am-pagination-default"
                    >
                        <li class="am-pagination-first ">
                            <a href="/admin/main/list?page=1" class="">第一页</a>
                        </li>
                        #if($listMain.hasPreviousPage)
                            <li class="am-pagination-prev ">
                                <a href="/admin/main/list?page="+$listMain.pageNum-1" >上一页</a>
                            </li>
                        #end

                        <li class="">
                            <a href="#" class="am-active">$listMain.pageNum</a>
                        </li>
                        #if($listMain.hasNextPage)
                            #set($nextPageNum=$listMain.pageNum+1)
                            <li class="am-pagination-next ">
                                <a href="${springMacroRequestContext.contextPath}/admin/main/list?page=$nextPageNum" >下一页</a>
                            </li>
                        #end


                        <li class="am-pagination-last ">
                            <a href="${springMacroRequestContext.contextPath}/admin/main/list?page=$listMain.lastPage" class="">最末页</a>
                        </li>
                    </ul>


                </div>
            </div>
            <hr/>
            <p>注：.....</p>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript" src="${springMacroRequestContext.contextPath}/js/project/listmain.js">
</script>