<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小微管家后台登录</title>
    <link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,600'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet prefetch" href="${springMacroRequestContext.contextPath}/js/jquery-2.1.1.min.js">
    <link rel="stylesheet" href="${springMacroRequestContext.contextPath}/css/style.css">
    <link rel="stylesheet" href="${springMacroRequestContext.contextPath}/css/animate.css">

    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="htmleaf-container">
    <div class="cont_principal">
        <header class="htmleaf-header">
            <h1>后台登录 <span>155242012056 吴培基</span></h1>
            <div class="htmleaf-links">
                <a class="htmleaf-icon icon-htmleaf-home-outline" href="http://www.htmleaf.com/" title="jQuery之家" target="_blank"><span> jQuery之家</span></a>
                <a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="http://www.htmleaf.com/css3/ui-design/201603013167.html" title="返回下载页" target="_blank"><span> 返回下载页</span></a>
            </div>
        </header>
        <form  method="post" action="/login" id="loginForm">
        <div class="cont_join  ">
            <div class="cont_letras">
                <p class="animated bounce">毕业设计</p>
                <p class="animated flash">信技</p>
                <p class="animated rubberBand">wupj</p>
            </div>

            <div class="cont_form_join">

                <h2 class="animated shake">请登录</h2>

                <p for="email" class="animated swing">邮箱:</p>
                <input type="email" class="input_text am-animation-slide-right" name="username" id="username" placeholder="请输入登录邮箱"/>

                <p for="password" class="animated tada">密码:</p>
                <input type="password" class="input_text" name="password" id="password" placeholder="请输入登录密码" />


            </div>

            <div class="cont_join_form_finish">
                <h2>Finish <i class="material-icons">&#xE5CA;</i></h2>
            </div>

            <div class="cont_btn_join">
                <a href="#" class="animated wobble" onclick='join_1()'>登录</a>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="${springMacroRequestContext.contextPath}/js/index.js"></script>
</body>
</html>