<div class="admin-content" id="admin-content">

    <ol class="am-breadcrumb">
        <li><a href="${springMacroRequestContext.contextPath}/admin/main" class="am-icon-home">后台首页</a></li>
        <li>Ip日志</li>
    </ol>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form-inline" method="post" action="${springMacroRequestContext.contextPath}/manager/iplist">
                <div class="am-form-group">
                    开始时间
                    <input type="text" placeholder="开始时间"  name="startTime" class="Wdate am-form-field"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                </div>
                <div class="am-form-group">
                    结束时间
                    <input type="text" placeholder="结束时间"  name="endTime" class="Wdate am-form-field"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                </div>
                <div class="am-form-group">
                    <button class="am-btn am-btn-default am-animation-fade" type="submit">搜索</button>
                    <button class="am-btn am-btn-danger am-animation-shake" type="reset">重置</button>
                    <button class="am-btn am-btn-success am-animation-left-spring" type="button">实时图表</button>
                </div>
            </form>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main am-table-bordered">
                <thead>
                <tr>
                    <th class="table-id">ID</th>
                    <th class="table-title">IP</th>
                    <th class="table-type">url</th>
                    <th class="table-author">参数</th>
                    <th class="table-date">创建时间</th>
                </tr>
                </thead>
                <tbody>
                #foreach($ip in ${iplist.list})
                <tr>
                    <td>${ip.id}</td>
                    <td>${ip.ip}</td>
                    <td>${ip.url}</td>
                    <td>${ip.params}</td>
                    <td>$date.format($ip.createTime)</td>

                </tr>
                #end
                </tbody>
            </table>


        </div>
    </div>
    <div class="am-cf">

        <span>当前页号:</span> <span>$iplist.pageNum</span>/<span>${iplist.pages}</span>

        <div class="am-fr">

            <ul data-am-widget="pagination"
                class="am-pagination am-pagination-default"
            >
                <li class="am-pagination-first ">
                    <a href="${springMacroRequestContext.contextPath}/manager/iplist?page=1" class="">第一页</a>
                </li>
                #if($iplist.hasPreviousPage)
                    <li class="am-pagination-prev ">
                        <a href="${springMacroRequestContext.contextPath}/manager/iplist?page=$math.sub($iplist.pageNum,1)" >上一页</a>
                    </li>
                #end

                <li class="">
                    <a href="#" class="am-active">$iplist.pageNum</a>
                </li>
                #if($iplist.hasNextPage)
                    #set($nextPageNum=$iplist.pageNum+1)
                    <li class="am-pagination-next ">
                        <a href="${springMacroRequestContext.contextPath}/manager/iplist?page=$nextPageNum" >下一页</a>
                    </li>
                #end


                <li class="am-pagination-last ">
                    <a href="${springMacroRequestContext.contextPath}/manager/iplist?page=$iplist.lastPage" class="">最末页</a>
                </li>
            </ul>


        </div>
    </div>

</div>
<script language="javascript" type="text/javascript" src="${springMacroRequestContext.contextPath}/DatePicker/WdatePicker.js"></script>
