<div class="admin-content" id="admin-content">

    <ol class="am-breadcrumb">
        <li><a href="${base}/admin/main" class="am-icon-home">后台首页</a></li>
        <li>Ip日志</li>
    </ol>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form-inline" method="post" action="${springMacroRequestContext.contextPath}/admins/iplogList/">
                <div class="am-form-group">
                    开始时间
                    <input type="text" placeholder="开始时间"  name="startTime" class="Wdate am-form-field"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                </div>
                <div class="am-form-group">
                    结束时间
                    <input type="text" placeholder="结束时间"  name="endTime" class="Wdate am-form-field"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                </div>
                <div class="am-form-group">
                    每页行数
                    <input type="number" placeholder="每页行数"  name="pageSize" class="am-form-field"  value="${pageSize}"/>
                </div>
                <button class="am-btn am-btn-default am-animation-shake" type="submit">搜索</button>
                <a class="am-btn am-btn-default am-animation-shake" href="${springMacroRequestContext.contextPath}/admins/iplogIpSum/">查看IP总量</a>
            </form>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main am-table-bordered">
                <thead>
                <tr>
                    <th class="table-id">ID</th>
                    <th class="table-title">IP</th>
                    <th class="table-type">url</th>
                    <th class="table-author">参数</th>
                    <th class="table-date">创建时间</th>
                    <th class="table-set" width="230px">操作</th>
                </tr>
                </thead>
                <tbody>
                #foreach($ip in ${iplist.list})
                <tr>
                    <td>${ip.id}</td>
                    <td>${ip.ip}</td>
                    <td>${ip.url}</td>
                    <td>${ip.params}</td>
                    <td>$date.format($ip.createTime)</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a class="am-btn am-btn-default am-btn-xs am-text-primary" onclick="ipSearch('${ip.ip}')" ><span class="am-icon-eye"></span> 查看IP地址</a>
                            </div>
                        </div>
                    </td>
                </tr>
                #end


                </tbody>
            </table>


        </div>
    </div>


</div>
<script language="javascript" type="text/javascript" src="${springMacroRequestContext.contextPath}/DatePicker/WdatePicker.js"></script>
